# secrets
*.yaml
*.yml
!config-example.yaml
!.github/**/*.yaml
!.github/**/*.yml

# pygtail offset
debug.log.offset

# dev files
.idea
venv
.mypy_cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# System files
.DS_Store
