notification_title_prefix: 'Chia'
log_level: INFO
chia_logs:
  file_log_consumer:
    enable: true
    file_path: '~/.chia/mainnet/log/debug.log'
  network_log_consumer:
    enable: false
    remote_file_path: '~/.chia/mainnet/log/debug.log'
    remote_host: "192.168.0.100"
    remote_user: "chia"
notifier:
  pushover:
    enable: false
    api_token: 'dummy_token'
    user_key: 'dummy_key'
  script:
    enable: false
    script_path: 'tests/test_script.sh'
  telegram:
    bot_token: 'dummy_bot_token'
    chat_id: 'dummy_chat_id'
