# Please copy this example config to config.yaml
# and adjust it to your needs.

# This is useful to differentiate multiple chiadog
# instances monitoring multiple harvesters
notification_title_prefix: 'Chia'
log_level: INFO

# Only one consumer can be enabled at a time, you can
# delete the section for the consumer which you aren't using
# For Windows file path needs to be absolute.
chia_logs:
  file_log_consumer:
    enable: true
    file_path: '~/.chia/mainnet/log/debug.log'
  network_log_consumer:
    enable: false
    remote_file_path: '~/.chia/mainnet/log/debug.log'
    remote_host: "192.168.0.100"
    remote_user: "chia"
    remote_port: 22

# Enable this and chiadog will ping a remote server every 5 minutes
# That way you can know that the monitoring is running as expected
keep_alive_monitor:
  enable_remote_ping: false
  ping_url: ''

# Enable this and you'll receive a daily summary notification
# on your farm performance at the specified time of the day.
daily_stats:
  enable: true
  time_of_day: "21:00"
  frequency_hours: 24

# Enable this and you will filter out all transactions that are not
# higher than the transaction_amount. Useful when dealing with chia
# dust storms and highly recommended when using notifiers such as
# pushover due to message limit cap.
handlers:
    wallet_added_coin_handler:
        enable: False
        filters:
            transaction_amount:  "0.000000000002"

# We support a lot of notifiers, please check the README for more
# information. You can delete the sections which you aren't using.
# You can also enable more than one notifier and send different
# notifications to each of them. E.g. enable daily_stats only to E-mail.
# If you enable wallet_events you'll get notifications anytime your
# wallet receives some XCH (e.g. farming reward).
notifier:
  pushover:
    enable: false
    daily_stats: true
    wallet_events: true
    decreasing_plot_events: true
    increasing_plot_events: false
    credentials:
      api_token: 'dummy_token'
      user_key: 'dummy_key'
  pushcut:
    enable: false
    daily_stats: true
    wallet_events: true
    decreasing_plot_events: true
    increasing_plot_events: false
    credentials:
      api_token: 'dummy_token'
      user_key: 'dummy_key'
  telegram:
    enable: false
    daily_stats: true
    wallet_events: true
    decreasing_plot_events: true
    increasing_plot_events: false
    credentials:
      bot_token: 'dummy_bot_token'
      chat_id: 'dummy_chat_id'
  smtp:
    enable: false
    daily_stats: true
    wallet_events: true
    decreasing_plot_events: true
    increasing_plot_events: false
    credentials:
      sender: 'chia@example.com'
      sender_name: 'chiadog'
      recipient: 'you@example.com'
      username_smtp: 'username'
      password_smtp: 'password'
      enable_smtp_auth: true
      host: 'smtp.example.com'
      port: 587
  script:
    enable: false
    daily_stats: true
    wallet_events: true
    decreasing_plot_events: true
    increasing_plot_events: false
    script_path: 'tests/test_script.sh'
  discord:
    enable: false
    daily_stats: true
    wallet_events: true
    decreasing_plot_events: true
    increasing_plot_events: false
    credentials:
      webhook_url: 'https://discord.com/api/webhooks/...'
  slack:
    enable: false
    daily_stats: true
    wallet_events: true
    decreasing_plot_events: true
    increasing_plot_events: false
    credentials:
      webhook_url: 'https://hooks.slack.com/services/...'
  mqtt:
    enable: false
    daily_stats: true
    wallet_events: true
    decreasing_plot_events: true
    increasing_plot_events: false
    topic: chia/chiadog/alert
    qos: 1
    retain: false
    credentials:
      host: '192.168.0.10'
      port: 8883
      username: ''
      password: ''
  grafana:
    enable: false
    credentials:
      base_url: ''
      api_token: ''
      dashboard_id: -1
      panel_id: -1
  ifttt:
    enable: false
    daily_stats: false
    wallet_events: false
    decreasing_plot_events: true
    increasing_plot_events: false
    credentials:
      api_token: 'dummy_token'
      webhook_name: 'dummy_key'
